/* --- Resets --- */
ul { list-style-type: none; }


/* --- General Settings, imports, etc. --- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --background-color: #F4F7FC;
    --primary-white: #EEF1FF;
    --primary-blue: #20358E;
    --primary-lightblue: #55d2ff;
    --primary-gray: #3E3E3E;

    --dark-blue: #20358E;
    --blue: #0B9BCf;
    --green: #5BC980;
    --yellow: #EEBF04;
    --red: #DA2637;
    --pink: #E342FF;

    --fs-heading: 24px;
    --fs-subheading: 20px;
    --fs-text: 16px;
    --fs-subtext: 12px;

    --fw-heavy: 900;
    --fw-medium: 600;
    --fw-light: 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background-color: var(--background-color);
    padding: 10px;
    overflow: hidden;
    height: 100vh;
}

/* --- gives backgrounds to necessary elements --- */
.card {
    background-color: white;
    box-shadow: 0 0 0 0 rgba(111, 134, 230, 0.13), 0 4px 16px 0 rgba(179, 187, 195, 0.26);
    border-radius: 15px;
}



/* --- .dashboard-container, holds entire page --- */
.dashboard-container {
    display: grid;
    grid-template-columns: minmax(80px, 200px) 1fr;
    grid-template-rows: auto 1fr;
    gap: 30px 40px;
    height: 100%;
}



/* --- .header, at top of page --- */
.header {
    grid-column: 1 / 3;
    position: sticky;
    top: 0;

    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div {height: 100%;}

.header-brand {
    display: flex;
    place-items: center;
    gap: 20px;
}

.header-title {
    font-size: var(--fs-heading);
    font-weight: var(--fw-medium);
    color: var(--dark-blue);
}

.header-logo {
    height: 100%;
    display: flex;
    place-items: center;
    padding: 15px 40px 15px 15px;
    border-right: 1px solid lightgray;
}

.header-logo-img {
    width: auto;
    height: 80%;
}

.header-profile {
    height: 100%;
    display: flex;
    place-items: center;
    padding: 15px;
    gap: 15px;
}

.header-avatar {
    height: 80%;
    width: auto;
}



/* --- .nav, at left of page --- */
.nav {
    min-height: 0;
    overflow-y: auto;
    position: static;
    height: 95%;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 20px;
    transition: grid-template-columns 0.2s ease;
}

.nav-collapse {
    grid-row: 1 / 1;
    padding: 20px 0px 0px 20px;
}

.nav-collapse-img {
    height: 35px;
    width: auto;
}

.nav-body {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 20px;
    gap: 50px;
}

li {display: flex; align-items: center; gap: 15px; width: 100%;}

.nav-icon {
    height: 22px;
    width: auto;
}

.nav-bottom {
    width: 100%;
    border-top: 1px solid lightgray;
    padding: 20px;
}

.nav-powered {font-size: var(--fs-subtext);}
.nav-company {font-size: var(--fs-subtext); font-weight: var(--fw-medium);}



/* --- .main-header, at top of page main content each page, outside of .main grid --- */
.main-selector {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector-update { font-size: var(--fs-text); font-weight: var(--fw-light); }

.selector-buttons { display: flex; gap: 10px; }
.selector-button {
    background: var(--background-color);
    border: 1px solid var(--primary-gray);
    font-size: var(--fs-text);
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: auto; 
}



.main { min-height: 0; }