/* --- .main, holds all primary content and sets up grid for main elements --- */
.main {
    grid-column: 2 / 3;
    overflow-y: auto;
    min-height: 0;
    width: auto;

    display: grid;
    grid-template: auto auto auto 1fr / repeat(6, 1fr);
    gap: 15px;
    padding-bottom: 30px;
}


/* --- .main-underwriting, In Underwriting Category Merchant Counts  --- */
.main-underwriting {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    gap: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.underwriting-container {
    display: flex;
}

.underwriting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    flex: 1;
    gap: 15px;
 }

.underwriting-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }
.status-icon-img { height: 40px; width: 40px; }

.status-label { font-size: var(--fs-text); font-weight: var(--fw-light); }
.status-value { 
    color: var(--status-accent); 
    font-size: var(--fs-subheading); 
    font-weight: var(--fw-heavy); 
}

.status-application-pending { --status-accent: #EEBF04; border-right: 1px solid lightgray; }
.status-signature-pending { --status-accent: #E342FF; border-right: 1px solid lightgray; }
.status-application-received { --status-accent: #0B9BCF; border-right: 1px solid lightgray; }
.status-in-underwriting { --status-accent: #5BC980; border-right: 1px solid lightgray; }
.status-account-pending { --status-accent: #DA2637; }


/* --- .main-sponsors, Sponsor Bank Counts --- */
.main-sponsors {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    gap: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.sponsors-container {
    display: flex;
}

.sponsors {
    display: flex;
    justify-content: center;
    text-align: left;
    flex: 1;
    gap: 15px;
    border-right: 1px solid lightgray;
 }

.sponsor-paysafe { border: none !important; }

.sponsors-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }
.sponsors-icon-img { height: 40px; width: 40px; }

.sponsors-label { font-size: var(--fs-text); font-weight: var(--fw-light); }
.sponsors-value { 
    font-size: var(--fs-subheading); 
    font-weight: var(--fw-heavy); 
}


/* --- .main-approved, Approved Category Merchant Counts  --- */
.main-approved {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    gap: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.approved-container {
    display: flex;
}

.approved {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    flex: 1;
    gap: 15px;
 }

.approved-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }

.status-approved { --status-accent: #0B9BCF; border-right: 1px solid lightgray; }
.status-active { --status-accent: #5BC980; border-right: 1px solid lightgray; }
.status-inactive { --status-accent: #EEBF04; border-right: 1px solid lightgray; }
.status-cold { --status-accent: #DA2637; }