/* --- .main, holds all primary content and sets up grid for main elements --- */
.main {
    grid-column: 2 / 3;
    overflow-y: auto;
    min-height: 0;
    width: auto;

    display: grid;
    grid-template: auto auto repeat(3, 2fr) / repeat(5, 1fr);
    gap: 15px;
    padding-bottom: 30px;
}


/* --- .main-primary, KPIs  --- */
.main-kpi {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    gap: 0;
    padding: 30px;

    display: flex;
}

.kpi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    flex: 1;
    gap: 15px;
 }

.kpi-icon-img { height: 40px; width: 40px; }

.kpi-label { font-size: var(--fs-text); font-weight: var(--fw-light); }
.kpi-value { 
    color: var(--kpi-accent); 
    font-size: var(--fs-subheading); 
    font-weight: var(--fw-heavy); 
}

.kpi-volume { --kpi-accent: #0B9BCF; border-right: 1px solid lightgray; }
.kpi-revenue { --kpi-accent: #5BC980; border-right: 1px solid lightgray; }
.kpi-merchants { --kpi-accent: #EEBF04; border-right: 1px solid lightgray; }
.kpi-auth { --kpi-accent: #E342FF; border-right: 1px solid lightgray; }
.kpi-chargebacks { --kpi-accent: #DA2637; }



/* --- .main-goal, volume progress bar --- */
.main-goal {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.goal-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }
.goal-subtitle { font-size: var(--fs-text); font-weight: var(--fw-medium); }


.goal-progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-total {
    border: 1px solid black;
    border-radius: 30px;
    width: 100%;
    padding: 3px;
}

.progress-bar {
    background-color: var(--primary-lightblue);
    height: 30px;
    width: var(--fill);
    padding-right: 8px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.progress-marker {
    color: var(--primary-gray);
    font-size: var(--fs-subheading);
    font-weight: var(--fw-medium);
}

.goal-stats {
    display: flex;
    justify-content: space-between;
}

.stats-label { font-size: var(--fs-text); font-weight: var(--fw-light); }
.stats-value { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }



/* -- .main-volume, graph for daily volume -- */
.main-volume {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.volume-header {
    display: flex;
    justify-content: space-between;
}

.volume-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }

.volume-legend { 
    font-size: var(--fs-text); 
    font-weight: var(--fw-light); 
    display: flex;
    align-items: center;
    gap: 40px;
}

.legend-current, 
.legend-last {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.legend-current { background: var(--primary-blue); }
.legend-last { background: var(--primary-lightblue); }

.volume-chart {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-svg {
    width: 100%;
    height: 260px;
    display: block;
}

.bar-rect { fill: var(--primary-lightblue); }

.line-graph {
    stroke: var(--primary-blue);
    stroke-width: 2;
    fill: none;
}

.line-point { fill: var(--primary-blue); }

.chart-x {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-text);
    color: gray;
}
.chart-x span { flex: 1; text-align: center; }



/* -- .main-transactions, counts of payment status */
.main-transactions {
    grid-row: 3 / 4;
    grid-column: 4 / 6;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.transactions-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }

.transactions-status {
    display: flex;
    flex-direction: column;
}

.transactions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    border-bottom: 1px solid var(--primary-blue);
}

.transactions-row:last-child { border-bottom: none }
.transactions-label { font-size: var(--fs-text); font-weight: var(--fw-light); }
.transactions-value { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }



/* -- .main-sources, graph by payment source */
.main-sources { 
    grid-row: 4 / 5;
    grid-column: 4 / 6;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sources-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }

.sources-main { 
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sources-donut {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    background: conic-gradient(
        var(--blue) 0% 38%,
        var(--green) 38% 65%,
        var(--yellow) 65% 86%,
        var(--dark-blue) 86% 95%,
        var(--red) 95% 100%
    );
}
.sources-legend {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.legend { 
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px;
}



/* -- .main-merchants, funnel and counts(?) */
.main-merchants {
    grid-row: 6 / -1;
    grid-column: 1 / -1;
    gap: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.merchants-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }

.merchants-content {
    display: flex;
    flex-direction: row;
}

.merchants {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    flex: 1;
    gap: 15px;
 }

.merchants-icon-img { height: 40px; width: 40px; }

.merchants-label { font-size: var(--fs-text); font-weight: var(--fw-light); }
.merchants-value { 
    color: var(--merchants-accent); 
    font-size: var(--fs-subheading); 
    font-weight: var(--fw-heavy); 
}

.merchants-leads { --merchants-accent: var(--red); border-right: 1px solid lightgray; }
.merchants-qualified { --merchants-accent: var(--yellow); border-right: 1px solid lightgray; }
.merchants-underwriting { --merchants-accent: var(--pink); border-right: 1px solid lightgray; }
.merchants-approved { --merchants-accent: var(--blue); border-right: 1px solid lightgray; }
.merchants-processing { --merchants-accent: var(--green); }