/* --- .main, holds all primary content and sets up grid for main elements --- */
.main {
    grid-column: 2 / 3;
    overflow-y: auto;
    min-height: 0;
    width: auto;

    display: grid;
    grid-template: auto auto auto 1fr / repeat(6, 1fr);
    gap: 15px;
    padding-bottom: 30px;
}

.inside-title,
.outside-title,
.marketing-title { font-size: var(--fs-subheading); font-weight: var(--fw-medium); }



/* --- .main-marketing, marketing stats --- */
.main-marketing {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    padding: 30px;
}



/* --- .main-inside, inside sales rep stats --- */
.main-inside {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding: 30px;
}



/* --- .main-outside, outside sales rep stats --- */
.main-outside {
    grid-row: 3 / 4;
    grid-column: 4 / -1;
    padding: 30px;
}