<div class="nav-collapse">
    <img class="nav-collapse-img" src="images/sidebar/sidebar-collapse.png" alt="Collapse Navigation">
</div>

<ul class="nav-body">
    <li>
        <img class="nav-icon" src="images/sidebar/dashboard.png" alt="">
        <a href="index.html" class="nav-title">Dashboard</a>
    </li>
    <li>
        <img class="nav-icon" src="images/sidebar/merchants_icon.png" alt="">
        <a href="merchant.html" class="nav-title">Merchants</a>
    </li>
    <li>
        <img class="nav-icon" src="images/sidebar/payments_icon.png" alt="">
        <a href="payments.html" class="nav-title">Payments</a>
    </li>
    <li>
        <img class="nav-icon" src="images/sidebar/partners_icon.png" alt="">
        <p class="nav-title">Partners</p>
    </li>
    <li>
        <img class="nav-icon" src="images/sidebar/marketing-icon.png" alt="">
        <a href="sales-marketing.html" class="nav-title">Marketing</a>
    </li>
    <li><b>* Click on these buttons to see the other dashboards...</b></li>
</ul>

<div class="nav-bottom">
    <p class="nav-powered">Powered By:</p>
    <p class="nav-company">Milstead Technologies, LLC</p>
</div>