@import url('https://googleapis.com');
*, :root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --primary-color: #20358E;
    color: #3e3e3e;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

html, body {
    background-color: #f4f7fc;
    padding: 25px;
    overflow: hidden;
    height: 100vh;
}

ul {list-style-type: none;}


/* Dashboard Container then Dashboard Children Elements */
.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 8fr;
    gap: 30px 40px;
    height: 100vh;
}
.dashboard-container > div {
    background-color: white;
    box-shadow: 0 0 0 0 rgba(111, 134, 230, 0.13), 0 4px 16px 0 rgba(179, 187, 195, 0.26);
    border-radius: 15px;
}


/* Header Elements */
.header-container {
    position: sticky;
    top: 0;

    height: 85px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    height: 100%;
    display: flex;
    place-items: center;
    gap: 20px;
}

.header-left > div {
    font-size: 24px;
    font-weight: 200 !important;
    color: var(--primary-color);
}

.logo-container {
    height: 100%;
    display: flex;
    place-items: center;
    padding: 15px 40px 15px 15px;
    border-right: 1px solid lightgray;
}

.header-logo {
    width: auto;
    height: 80%;
}

.profile-container {
    height: 100%;
    display: flex;
    place-items: center;
    padding: 15px;
    gap: 15px;
}
.pfp {
    height: 80%;
    width: auto;
}


/* Sidebar Elements */
.sidebar-container {
    position: sticky;
    top: 115px;
    width: 200px;
    height: 575px; /* This needs adjusted so it's redundant for screen size */
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 20px;
}

.sb-top {
    grid-row: 1 / 1;
    padding: 20px 0px 0px 20px;
}

li {display: flex; align-items: center; gap: 15px; width: 100%;}

.sb-body {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 20px;
    gap: 50px;
}

.sb-bottom {
    width: 100%;
    border-top: 1px solid lightgray;
    padding: 20px;
}

.powered {font-size: 11px;}
.milstead {font-size: 12px;}

.sb-collapse {
    width: 35px;
    height: 35px;
}
.sb-image {
    height: 22px;
    width: 22px;
}


/* Main Content (Right of Sidebar, below Header) */
.main-container {
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;

    overflow-y: auto;
    min-height: 0;
    grid-column: 2 / 3;
    width: auto;

    display: grid;
    grid-template-rows: 40px repeat(3, 100px);
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.main-container > div {
    background-color: white;
    box-shadow: 0 0 0 0 rgba(111, 134, 230, 0.13), 0 4px 16px 0 rgba(179, 187, 195, 0.26);
    border-radius: 15px;
}



.main-selectors {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: transparent !important;
    box-shadow: none !important;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.dropbtn {
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #f4f7fc;
}
.date-selector {
    height: 100%;
    width: 50%;
}
.merchant-selector {
    height: 100%;
    width: 40%;
}



.transaction-count {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.transaction-count > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.stats > h1 {
    font-size: 20px;
    font-weight: 800;
}

.transimg {
    height: 80%;
    width: auto;
}



.merchant-status {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}




.volume-goal {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}